.home {
  padding-top: 3rem;

  &__title,
  &__taxes {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &__title {
    text-align: center;
  }

  &__taxes {
    margin-top: 2rem;
    overflow-y: auto;
    padding-bottom: 2rem;

    @include respond(tablet) {
      margin-left: auto;
      margin-right: auto;
      max-width: $tablet-width;
    }

    @include respond(desktop) {
      max-width: $desktop-width;
    }

    &__tax-group {
      &:not(:first-child) {
        margin-top: 2.5rem;
      }

      .year {
        margin-bottom: 1rem;
      }
    }
  }
}
