.login {
  padding: 5rem 1.25rem;

  @include respond(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    padding-top: 10rem;
  }

  .form {
    margin-top: 3rem;
  }
}
