.new-tax {
  margin-top: 2rem;
  overflow-y: auto;
  padding-bottom: 2rem;
  padding-top: 3rem;

  @include respond(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: $tablet-width;
  }

  @include respond(desktop) {
    max-width: $desktop-width;
  }

  &__title {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .cancel,
    .submit {
      font-weight: 400;
      max-width: 7rem;
      padding: .25rem;
    }

    .cancel {
      background: rgba($red-ryb, .8);
      margin-right: 4.5rem;

      &:hover {
        background: darken(rgba($red-ryb, .8), 10%);
      }
    }
  }
}
