.submissions {
  padding: 3rem 1.25rem;

  @include respond(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: $tablet-width;
    padding-left: 0;
    padding-right: 0;
  }

  @include respond(desktop) {
    max-width: $desktop-width;
  }

  &__filters {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;

    .range {
      align-items: center;
      align-self: flex-start;
      display: flex;

      .text-field {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }

    .text-field {
      width: 100%;
    }

    .button {
      margin-top: 1.5rem;
      max-width: 10rem;
    }

    .filter__buttons {
      display: flex;
      align-items: center;

      .button {
        padding: .25rem .75rem;

        &:first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }

  &__submission {
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 1.5rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .label {
      font-weight: 600;
      text-transform: capitalize;
    }

    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: .5rem;
      width: 100%;

      &__id {
        color: $bombay;
        font-size: .7rem;
      }

      &__year {
        background: $gunmetal;
        font-size: .65rem;
        border-radius: .25rem;
        color: $white;
        padding: .25rem .5rem;
      }
    }
  }
}
