.tax-detail {
  padding: 3rem 1.25rem;

  @include respond(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: $tablet-width;
    padding-left: 0;
    padding-right: 0;
  }

  @include respond(desktop) {
    max-width: $desktop-width;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    .button {
      font-size: .75rem;
      font-weight: 400;
      max-width: 7rem;
      padding: 0 1rem;
    }

    .delete-tax {
      border-color: $red-ryb;
      color: $red-ryb;
      margin-right: 1rem;
    }
  }

  &__basic-info {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;

    .year {
      background: $gunmetal;
      border-radius: .25rem;
      color: $white;
      margin-right: .5rem;
      padding: .25rem .5rem;
    }
  }

  &__empty-submissions {
    align-items: center;
    background: $harp;
    border-radius: .25rem;
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 25rem;
    padding: 1.5rem 4rem;
    text-align: center;

    svg {
      flex-shrink: 0;
      height: 1.5rem;
      margin-bottom: .25rem;
      margin-right: 1.5rem;
      width: 1.5rem;

      path {
        fill: $san-juan;
      }
    }
  }

  &__submissions {
    margin-top: 3rem;

    .submission {
      align-items: flex-start;
      border-bottom: 1px solid $isabelline;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem .25rem;

      &__label {
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}
