.alert {
  align-items: center;
  border-radius: .25rem;
  color: $white;
  display: flex;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding: .75rem;
  position: fixed;
  right: 0;
  top: 1rem;
  z-index: 99;

  &--error {
    background: lighten($red-ryb, 5%);
  }

  &--success {
    background: $dark-sea-green;
  }
}
