.button {
  align-items: center;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 2.5rem;
  outline: none;
  padding: 1em;
  width: 100%;

  &--disabled {
    background: $harp;
  }

  &--outline {
    background: $white;
    border: 1px solid $dark-sea-green;
    color: $dark-sea-green;

    &:hover {
      background: darken($white, 2%);
    }
  }

  &--solid {
    background: $dark-sea-green;
    color: $white;

    &:hover {
      background: darken($dark-sea-green, 8%);
    }
  }
}
