.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .text-field {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .submit {
    margin-top: 2rem;
  }
}
