.navbar {
  align-items: center;
  background: $white;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  display: flex;
  height: $navbar-height;
  justify-content: space-between;
  left: 0;
  padding: 2rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  @include respond(tablet) {
    margin-left: auto;
    margin-right: auto;
    max-width: $tablet-width;
  }

  @include respond(desktop) {
    max-width: $desktop-width;
  }

  &__links {
    align-items: center;
    display: flex;

    .link {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__logout {
    .button {
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: .75rem;
    }
  }
}
