.tax {
  align-items: flex-start;
  border-bottom: 2px solid $isabelline;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem .5rem 1rem;
  width: 100%;

  &:hover {
    background: rgba($harp, .2);
  }

  &__name.paragraph {
    @extend %single-line;
    margin-top: 1rem;
  }

  &__id {
    color: $bombay;
    font-size: .65rem;
  }
}
