.text-field {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    font-size: .75rem;
    font-weight: $font-bold;
    justify-content: space-between;
    margin-bottom: .75rem;
    text-transform: uppercase;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $cadet-blue;
    box-sizing: border-box;
    font-size: .75rem;
    outline: none;
    padding: .875rem .75rem;
    width: 100%;

    &:focus {
      border-color: $san-juan;
    }

    &--error {
      border-color: $red-ryb;
    }
  }

  &__error {
    color: $red-ryb;
    font-size: .65rem;
  }
}
