@mixin respond ($breakpoint) {
  @if $breakpoint == small-mobile {
    @media only screen and (max-width: $screen-xs) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: $screen-sm) {
      @content;
    }
  }

  @if $breakpoint == ipad-pro {
    @media only screen and (max-width: $screen-xl) and (min-width: $screen-lg) {
      @content;
    }
  }

  @if $breakpoint == big-tablet {
    @media only screen and (min-width: $screen-md) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: $screen-lg) {
      @content;
    }
  }
}
