// Screen sizes
$screen-xs: 320px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// Font weights
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// Widths
$tablet-width: 40rem;
$desktop-width: 50rem;

// Heights
$navbar-height: 6rem;
