:root {
  --app-height: 100%;
}

html,
body {
  background: $white;
  color: $gunmetal;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

#root {
  height: var(--app-height);
}

body {
  @extend %hide-scrollbar;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  overflow-x: hidden;
  text-align: left;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.app__container {
  padding-top: $navbar-height;
}

a {
  text-decoration: none;
}
