* {
  // scss-lint:disable VendorPrefix
  outline: none;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

input,
select {
  // scss-lint:disable VendorPrefix
  -webkit-user-select: auto;
}
